@model List<Ticket>
@{
    ViewData["Title"] = "Tickets";
}

<table class="table">
    <thead>
    <tr>
        <th>Ticket ID</th>
        <th>Event Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Event.Name</td>
            <td>@item.Price</td>
        </tr>
    }
    
</table>