
@{
    ViewData["Title"] = "Confirm Order";
}


<div class="text-success">
    <h1>Order Confirmed</h1>
    <p>Thank you for your purchase. </p>
    <p>You will receive an email confirmation shortly.</p>
    <p>Enjoy the event!</p>
</div>